

.container{
    background: linear-gradient(to left,rgba(16, 106, 240, 0.9),#2ff5d4);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-image: url("../Img/fondo-detail.jpg");
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: 115%;
    margin: 0 auto; 
    color: #ffbb73;
}

.cardContainer{
    backdrop-filter: blur(5ex);
    margin: 1ex;

    top: 7ex;
    left: -40ex;
    right: 5ex;
    border-radius: 15px;
    position: relative;
    width: 28%;
    height: 50%;
}
.titolin{
    left: -27ex;
    position: relative;
    font-family: serif;
    font-size: 27px;
}
.imgDet{
   
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    max-width: 260px;
    border-radius: 15px;
    margin: 2px;
}
.description{
    font-size: 20px;
    font-family: serif;
    line-height: 30px;
}

.header{
   
    width: 100%;
    border-radius: 10px; /* Redondeamos los bordes del form */
}
.nombre{
    margin: 0px;
    
}
.iconHome-detail{
    background-color: #ffbb73;
    position: relative;
    margin: 2ex;
    margin-top: -3ex;
    margin-left: 47%;
    right: 49%;
    width: 3.5%;
    height: 5%;
    top: 2ex;
    box-shadow: 0px 0px 10px 0px rgb(23, 46, 1);
    border-radius: 5ex;
}

.iconHome-detail:hover{
    transform: scale(1.2);
}

.loading{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    width: 10%;
    height: 10%;
    top: 5ex;
    margin-left: auto;
    margin-right: auto;
}

.text {
    fill: none;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
  }
  
  .text:nth-child(5n + 1) {
    stroke: #F2385A;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
  }
  .text:nth-child(5n + 2) {
    stroke: #F5A503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
  }
  
  .text:nth-child(5n + 3) {
    stroke: #E9F1DF;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
  }
  
  .text:nth-child(5n + 4) {
    stroke: #56D9CD;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
  }
  
  .text:nth-child(5n + 5) {
    stroke: #3AA1BF;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
  }
  
  @-webkit-keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }
  