*{
  margin: 0;
  padding: 0;
  max-zoom: 100;
  min-zoom: 60;
  
}

button {
  border: 2px solid;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background:  
    radial-gradient(circle, #0000 1%, var(--c) 1%) 50%/0%
    var(--c);
  transition: background 0.6s;
}
button:hover,
button:focus-visible{
  background-size: 15000%;
}
button:active {
  background-color: var(--r,#ffbb73); /* color of the ripple effect*/
  background-size: 100%;
  transition: 0s;
}
button:focus-visible {
  outline-offset: 2px;
  outline: 3px solid #000;
}

.background {
    background: url("../Img/landing.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    justify-content:center;
    align-items: center;
    border: 0;
    overflow: hidden
    
}

.title{
    align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 200px;
    position:relative;
    font-family: serif;
    font-size: 40px;
    top: 31%;
    left: 75%;
    color: #ffbb73;
    margin-top: auto;
    margin-right: auto;
    animation: move linear 2000ms infinite;
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffbb73, 0 0 15px #ffbb73, 0 0 20px #ffbb73, 0 0 40px #ffbb73, 0 0 60px #ff0000, 0 0 10px #ffbb73, 0 0 98px #ff0000;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

.title1{
    align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 200px;
    position:relative;
    font-family: serif;
    font-size: 50px;
    top: 25%;
    left: 75%;
    margin-top: auto;
    margin-right: auto;
    text-shadow: 0 0 5px #ffbb73, 0 0 15px #ffbb73, 0 0 20px #ffbb73, 0 0 40px #ffbb73, 0 0 60px #ff0000, 0 0 10px #ffbb73, 0 0 98px #ff0000;
    color: #fff6a9;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffbb73, 0 0 15px #ffbb73, 0 0 20px #ffbb73, 0 0 40px #ffbb73, 0 0 60px #ff0000, 0 0 10px #ffbb73, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffbb73, 0 0 15px #ffbb73, 0 0 20px #ffbb73, 0 0 40px #ffbb73, 0 0 60px #ff0000, 0 0 10px #ffbb73, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

  .icons {
    display: flex;
    bottom: auto;
}

.icono {
    align-items: center;
    display: flex;
    position:relative;
    margin-top: 2ex;
    margin-left: 2ex;
    width: 70px;
    height: 70px;
    top: 30%;
    left: 600%;
    transition: all 0.4s ease-in-out;
}

.icono:hover {
  transition-delay: 0s;
    transform: rotate(360deg) scale(1);
}

.buttom{
    width: 126px;
    height: 53px;
    font-size: 16px;
    border: 2px solid #969696;
    margin: 40px;
    color: #563A2E;
    letter-spacing: 0.5ex;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    top: 72%;
    left: 78%;
    position: absolute;
    background-color: #ffbb73;
    font-weight: bold;
    border-radius: 5px;
    --c: #fff;
  color: #0B486B;
  animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;

}

.buttom:hover{
  transform: scale(1.2);
  cursor: pointer;
}