.paginationUl {
    margin-top: 1ex;
    height: 1ex;
}

.paginationButton {
    background-color: #7c7878a2;
    height: 5ex;
    width: 5ex;
    margin: 0.5ex; 
    border-radius: 5ex;
    border: transparent;
    color: #ffbb73;
    transition: 0.3s;
    cursor: pointer;
    top: -8ex;
    position: relative;
    font-family: serif;
    font-size: 2ex;

}

.paginationButton:hover {
    transition-delay: 0s;
    color: rgb(255, 255, 255);
    transform: translateY(1ex);
    box-shadow: 1px 1px #ffbb73, 2px 2px #ffbb73, 3px 3px #ffbb73;
    transform: translateX(-3px);
}

.paginationButton:active
{
    transition-delay: 0s;
    color: #ffbb73;
    box-shadow: 0 0 40px #ffbb73;        
    transform: translateY(1ex);  
}