.buscador{
    display: contents;
    width: 5ex;
    height: 5ex;
}

.campoBuscar{
    background-color: #ffff;
    color: rgba(3, 3, 3, 0.863);
    border: 5ex;
    border-radius: 5em;
    margin-top: 1ex;
    margin-bottom: 1ex;
    font-size: 3ex;
    padding: 1ex;
    height: 1ex;
    width: 15ex;
}

.botonBuscar{
    cursor: pointer;
    border: none;
    position:relative;
    top: 14px;
    left: 10px;
    width: 5.75ex;
    background-color: rgba(0, 0, 0, 0);
}

.botonBuscar:hover{
    transform: scale(1.2);
    background-color: black;
}

.iconBuscar {
    height: 70%;
    width: 70%;
    display: flex;
    position:relative;
    left: 110;
    background-color: rgba(0, 0, 0, 0);
    place-items: center;
}